@charset "UTF-8";
/* default */
*{
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{text-decoration: none;}
ul,li{list-style: none;}
#wrap{position: relative;background-color: #fafafa;}

/* header */
header{
    background-color: #fff;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    font-size: 1.3rem;
    font-weight: bold;
}

/* nav */

nav > ul{
    margin: 0 10px;
    display: flex;
}

nav > ul > li{margin: 0 10px;}
nav > ul > li > a{
    color: #333;
    font-weight: 500;
    transition: .3s ;
    padding: 5px 10px;
    border-radius: 5px;
}

nav > ul > li > a:hover{
    color: #aaa;
    text-decoration: none;
}

nav > ul > li > a.now{
    background-color: #555;
    color: #fff;
}

/* /nav */

.user_btn{
    padding: 3px 12px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #fff;
    margin: 0 3px;
    cursor: pointer;
    transition: .3s;
}

.user_btn:hover{
    background-color: #333;
    color: #fff;
}

/* /header */


/* content */
#content{
    width: 90%;
    min-width: 480px;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

}

.workspace{
    width: 30%;
    border-radius: 5px;
    transition: .3s;
    background-color: #fff;
    margin: 20px 0;
    overflow: hidden;
    min-width: 450px;
    position: relative;
}

.workspace:hover{box-shadow: 5px 5px 20px #ddd;}

.workspace_title{
    width: 100%;
    padding: 20px;
    height: 60px;
    font-size: 1.5rem;
    margin: 0;
}

.more_btn{
    width: 120px;
    height: 70px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
    transition: .3s;
    position: absolute;
    top: -20px;
    right: -43px;
    padding-bottom: 15px;
    transform: rotate(45deg);
}

.more_btn > i{color: #fff;transform: rotate(45deg);}

/* today workspace */

#today_workspace_list{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.today_workspace{
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
}

.work_content{
    border-top: 2px solid #ddd;
    padding-top: 15px;
}

#main_work_list{margin: 10px;}

.main_work_list_btn{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: none;
    background-color: #ddd;
    margin: 0 5px;
    transition: .3s;
}

.main_work_list_btn.now{background-color: #aaa;}
.main_work_list_btn:hover{background-color: #aaa;}

#today_workspace > .more_btn{background-color: #324856;}
#today_workspace > .more_btn:hover{background-color: #1A2F3C;}

/* /today workspace */

/* workadd */
#workadd{max-width: 450px;}

#workadd > .workspace_title{background-color: #4A746A;}

#workadd h2{color: #fff;}

#user_date_form{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

#user_date_form > span{
    margin: 0 10px ;
    line-height: 40px;
}

#select_form{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#select_form > i{font-size: 20px;}

#select_option_box{
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 5px;
    transition: .3s;
    overflow: hidden;
    height: 0;
}

#select_option_box.open{
    border: 1px solid #ddd;
    height: auto;
}

.select_option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: .3s;
    background-color: #fff;
    cursor: pointer;
}

.select_option > i{visibility: hidden;}
.select_option.checked > i{visibility: visible;}

.select_option:hover{
    background-color: #eee;
}

/* /workadd */

#last_workspace{
}

#last_workspace > .more_btn {background-color: #D18237;}

#complete_workspace{
}

#complete_workspace > .more_btn {background-color: #12406A;}

#Notcomplete_workspace{

}

#Notcomplete_workspace > .more_btn {background-color: #D66C44;}

/* /content */

/* footer */
footer{
    width: 100%;
    padding: 10px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#copyright{
    color: #aaa;
    margin: 0;
}

#sns{
    display: grid;
}
/* /footer */